@media (max-width: 1220px) {
	.categories_inner {
		justify-content: space-around;
	}
}

@media (max-width: 1200px) {
	.banner-section_inner {
		justify-content: space-around;
	}
	.banner-section_slider-img {
		min-height: 390px;
		max-width: 600px;
	}
	.banner-section_slider {
		max-width: 600px;
	}
}
@media (max-width: 1100px) {
	.menu_item + .menu_item {
		padding-left: 20px;
	}
	.header_adress {
		margin-right: 20px; 
	}
}
@media (max-width: 1024px) {
	.catalog_filter-items {
		display: flex !important;
		flex-wrap: wrap;
		gap: 10px;
	}
	.catalog_inner aside {
		position: absolute;
		background-color: white;
		z-index: 10;
		left: -120%;
		max-width: 290px;
		box-shadow: 24px 0px 120px whitesmoke;
	    padding: 10px;
	    height: fit-content;
	}
	.card_list-delivery {
		display: flex;
		overflow-y: scroll;
		padding: 5px 5px 15px 5px
	}
	.card_list {
		display: none;
	}
	
}
@media (max-width: 968px) {
	.product-card_content {
		margin: 0 auto;
		margin-top: 20px;
	}
	.tabs {
		overflow-x: scroll;
		overflow-y: hidden;
		max-width: 100%;
	}
	.header_bottom {
		display: none;
	}
	.menu_list {
		display: none;
	}
	.menu_btn {
		display: block;
		background-color: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
	}
	.menu_btn-line {
		background: #2f3035;
		border-radius: 3px;
		height: 3px;
		width: 34px;
		margin: 8px 0;
	}
	.menu_mobile-linewrapper {
		display: block;
		font-family: 'SFProDisplay', sans-serif;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		background-color: #f0f0f4;
		overflow-x: scroll;
	}
	.menu_mobile-line {
		padding: 14px 0 14px 15px;
		/*min-width: 450px;*/
	}
	.banner-section_inner {
		margin-top: 25px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.banner-section_slider-item {
		text-align: center;
	}
	.banner-section_slider-img {
		max-width: 100%;
		margin-bottom: 25px;
	}
	.banner-section_slider {
		max-width: 100%;
	}
	.slick-arrow {
		display: none !important;
	}
	.mobile-overflow {
		width: 100%;
		white-space: nowrap;
		padding: 15px 0;
		display: inline-block;
		overflow-x: scroll;
	}
	.search_tabs {
		display: block;
	}
	.product-card_img-box {
		width: 100%;
	}
	.product-card_inner {
		flex-wrap: wrap;
	}
	.banner-section_item {
		margin-top: 20px;
	}
}
@media (max-width: 821px) {
	.card_label-search {
		width: 100%;
	}
	.card_label-pickup {
		margin-top: 10px
	}
	.card_label-pickup:not(:last-child) {
		margin-left: 0
	}
}
@media (max-width: 768px) {
	.social-list {
		flex-direction: column;
	}
	.catalog_filter {
		flex-direction: column;
		row-gap: 10px;
	}
}
@media (max-width: 640px) {
	.header_box {
		display: none;
	}
	.banner-section_slider-img {
		min-height: 200px;
	}
	.banner-section .container{
		padding: 0;
	}
	.search_content-btn {
	    font-size: 0;
	    line-height: 0;
	    background-image: url('../images/Search.svg');
	    width: 24px;
	    height: 24px;
	    background-color: transparent;
	    padding: 17px;
	    background-repeat: no-repeat;
	    position: absolute;
	    right: -15px;
	    top: 17px;
	    outline: none;
	}
	.search_content-input {
		height: 50px;
		padding-right: 50px;
	}
	.search_content-form {
		position: relative;
	}
	/**/

	.footer_top-item:last-child {
		width: auto;
	}
	.footer_top-inner {
		flex-wrap: wrap;
	}
	.newslatter__box {
		max-width: 295px;
		margin: 0 auto;
	}
	.footer_top-newslatter.footer_top-item {
		width: 100%;
	}
	.footer_top-inner {
		justify-content: space-around;
	}
}
@media (max-width: 440px) {
	.banner-section_slider-img {
		min-height: 164px;
	}
	.catalog_inner {
		display: block;
	}
	html {
		font-size: 8px;
	}
}
@media (max-width: 381px) {
	html {
		font-size: 7px
	}
}